@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 0 1rem;
  max-width: 1440px;
  margin: auto;
}

:root {
  --text-primary: hsl(224, 21%, 14%);
  --text-secondary: hsl(219, 12%, 42%);
  --highlight: hsl(226, 44%, 44%);
  --white: hsl(0, 0%, 100%);
  --unread-background: hsl(210, 60%, 98%);
  --shadow: hsl(205, 33%, 90%);
}

.header {
  margin: 2rem 0;
}

.header h2 {
  color: var(--text-primary);
  display: inline-block;
  margin: 0;
  font-size: 1.3rem;
  width: 60%;
}

.header span {
  background: var(--highlight);
  color: var(--white);
  padding: 0.1rem 0.5rem;
  border-radius: 6px;
  margin: 0 0.5rem;
  display: inline-block;
}

.header button {
  background: none;
  border: none;
  color: var(--text-secondary);
  width: 39%;
  text-align: right;
  padding: 0;
}

.header button:hover,
.header button:active {
  color: var(--highlight);
}

a {
  text-decoration: none;
}

main > div {
  margin: 1rem 0;
}

.unread {
  background: var(--unread-background);
  padding: 1rem;
  border-radius: 12px;
}

.avatar {
  display: inline-block;
  width: 15%;
  max-width: 6rem;
  vertical-align: text-top;
}

.avatar img {
  width: 100%;
}

.notification {
  display: inline-block;
  width: 84%;
  vertical-align: text-top;
  padding-left: 1rem;
}

.notification h3 {
  margin: 0;
}

.notification h3 p {
  display: inline;
}

.notification h3 .user {
  color: inherit;
}

.notification h3 .user:hover,
.notification h3 .user:active {
  color: var(--highlight);
}

.notification h3 p.action {
  font-weight: 500;
}

.notification h3 .post {
  color: inherit;
}

.notification h3 .post:hover,
.notification h3 .post:active {
  color: var(--highlight);
}

.notification h3 .group {
  color: var(--highlight);
}

.notification p {
  margin: 0;
  color: var(--text-secondary);
}

.notification .private-message {
  border: 1px solid var(--text-secondary);
  padding: 1rem;
  margin: 0.8rem 0;
}

.notification .picture-action {
  display: inline-block;
  width: 79%;
  vertical-align: text-top;
}

.notification .picture {
  display: inline-block;
  width: 20%;
  vertical-align: text-top;
  text-align: right;
}

.notification .picture img {
  width: 100%;
  max-width: 6rem;
}

.notification .picture img:hover,
.notification .picture img:active {
  box-shadow: var(--shadow) 0px 0px 0px 3px;
  border-radius: 15px;
}
